{% load static %}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{% block title %}Strawberry App{% endblock %}</title>
</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                    <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                </div>
        </div>
    </nav>
</header>

{% block content %}
<div class="container mt-5 mb-5">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <h1>You are logout</h1>
    <h2>Please login or register</h2>
 </div>
{% endblock %}

</body>
</html>