{% extends "base.html" %}

{% load static %}

{% block content %}
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto"></div>
                <div class="navbar-nav" style="justify-content: flex-end;">
                    {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'homepage' %}">Homepage</a>
                        <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                        {% if not is_logout %}
                            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                        {% endif %}
                    {% else %}
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        {% if is_logout %}
                            <p class="nav-item nav-link text-info">You have successfully logged out.</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <img class="img-fluid rounded-circle mb-2" src="{{ user.profile.image.url }}" alt="">
                    <h5 class="card-title">{{ user.username }}</h5>
                    <p class="card-text">{{ user.email }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock scripts %}


