{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-8">
     <h1>Search results:</h1>
        {% if search_query %}
          <p>Search results for "{{ search_query }}":</p>
        {% endif %}

        <h1>Culture List</h1>
        {% if search_results.cultures %}
          <ul>
            {% for culture in search_results.cultures %}
              <li>{{ culture.culture }}{{ culture.description }}</li>
            {% endfor %}
          </ul>
        {% elif cultures %}
          <ul>
            {% for culture in cultures %}
              <li>{{ culture.culture }}{{ culture.description }}</li>
            {% endfor %}
          </ul>
        {% else %}
          <p>There are no cultures available.</p>
        {% endif %}

<h1>Months List</h1>
        {% if search_results.months %}
          <ul>
            {% for month in search_results.months %}
              <li>{{ month.month }}{{ month.description }}</li>
            {% endfor %}
          </ul>
        {% elif months %}
          <ul>
            {% for month in months %}
              <li>{{ month.month }}  {{ month.description }}</li>
            {% endfor %}
          </ul>
        {% else %}
          <p>There are no months available.</p>
        {% endif %}
    </div>
</div>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto"></div>
                <div class="navbar-nav" style="justify-content: flex-end;">
                    {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'homepage' %}">Homepage</a>
                        <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                        {% if not is_logout %}
                            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                        {% endif %}
                    {% else %}
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        {% if is_logout %}
                            <p class="nav-item nav-link text-info">You have successfully logged out.</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>

{% endblock content %}


